
// Color Variables
$color-dark-grey: #2f2f2f;
$color-white: #ffffff;
$color-light-grey: #f9f9f9;
$color-hover-blue: #e6f2ff;
$color-text: #333;
$color-primary: #007bff;
$color-primary-hover: #0056b3;
$color-disabled: #ccc;
$color-lighter-grey: #efefef;
$color-text-muted: #666;
$color-text-light: #aaa;
$color-link: #555;